@{
    ViewData["Title"] = "Declaration";
}
<h1>@ViewData["Title"]</h1>

<p>this will be the declaration</p>

<button type="button" style="background-color:#4CAF50;">Accept</button>
<button type="button" style="background-color:red;">Decline</button>
