@{
    ViewData["Title"] = "Declaration";
}
<h1>@ViewData["Title"]</h1>

<p>this will be the declaration</p>

<button type="button" style="background-color:#4CAF50;">Accept</button>
<button type="button" style="background-color:red;">Decline</button>
<h2>Health Declaration Form</h2>
<p>For the health and safety of our community, declaration of illness is required. Be sure that the information you'll give is accurate and complete. Please get immediate medical attention if you have any of the COVID-19 signs.
</p>
