@{
    ViewData["Title"] = "Health Declaration";
}

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Me</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <li><a href="#">Logout</a></li>7
            </ul>
        </div>
    </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h2 class="margin">Green Light? Healthy!</h2>
    <span class="stopLight"></span>
    <h3>I'm a concert enthusiast!</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h2 class="margin">You good?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p>
        For the health and safety of our community, declaration of illness is required. Be sure that the information you'll give is accurate and complete. Please get immediate medical attention if you have any of the COVID-19 signs.
    </p>
    <button id="accept" type="button" style="background-color:#4CAF50;">Accept</button>
    <button id="decline" type="button" style="background-color:red;">Decline</button>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">What does all of this mean?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <h2>Red Light</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-sm-4">
            <h2>Yellow Light</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-sm-4">
            <h2>Green Light</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>

<script>
    document.getElementById("accept").addEventListener("click", agreeToHealthDec);
    document.getElementById("decline").addEventListener("click", declineHealthDec);
    //TODO figure out what needs to happen here, maybe just highlight for now
    function agreeToHealthDec() {
        alert ("@User.Identity.Name agrees to health declaration");
    }
        function declineHealthDec() {
        alert ("@User.Identity.Name declines health declaration");
    }
</script>
